{% extends 'layout.html' %}
{% block body %}
<section class="window-height" id="error" style="background-image: url(images/404.png)">
    <div class="container">
        <section class="content">
            <div class="error-page">
                <center>
                    <h1 class="display-4 headline text-dark">
                        Error 404
                    </h1>
                </center>
                <center>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/1/1e/SITIO-EN-CONSTRUCCION.jpg" alt="Sitio en Construccion" width=50% height=50%>
                    <p>
                        
                    </p>
                </center>
                <center>           
                    <a class="btn btn-info" href="/">
                        Home
                    </a>
                </center>
            </div>
        </section>
    </div>
</section>

{% endblock %}